@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('opentype'),
  url('PressStart2P-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
